/*
  标题字体 庞门正道
*/
@font-face {
  font-family: bigName;
  src: url('../assets/fonts/庞门正道标题体2.0增强版.ttf')
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-start-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-between-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-start-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.shadowBack {
  background: #0d1733;
  -webkit-box-shadow: inset 0px 8px 8px #084e8a;
  box-shadow: inset 0px 8px 8px #084e8a;
}
